body {
    background-color: #273549;
    margin-left: 5%;
}


/* Buttons */

button {
    background-color: #10B981;
    border: none;
    border-radius: 5px;
    color: white;
    height: auto;
    width: auto;
    padding: 10px;
}

#generated-password {
    background-color: #10B981;
    border: none;
    border-radius: 5px;
    color: white;
    height: auto;
    width: fit-content;
    padding: 10px;
    text-align: center;
}


/* Headings */

h1 {
    color: white;
}

.random-password {
    color: #10B981;
}

h2 {
    color: #f5f5f5;
}